.column1 {
    float: left;
    width: 33.33%;
    
  }

  .column2 {
    float: left;
    width: 100%;
    
  }
  
  .column3 {
    float: left;
    width: 50%;
    
  }
    
  .column4 {
    float: left;
    width: 20%;
    
  }
 
  
  
  
  